* {
    margin: 0;
    padding: 0;
    color: white;
}
form {
    width: 630px;
    height: 640px;
    background-color:#484d53;
}
.h1, .text {
    text-align: center;
}
.text {
    margin: 0 70px;
}
.h1 {
    padding-top: 50px;
}
input {
    background-color:#484d53;
    height: 70px;
    width: 530px;
    margin: 0 50px;
    border: 1px solid white;
    margin-top: 45px;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}
input:focus {
    border-color: green;
    outline: none;
}
.submit {
    background-color: green;
    border-color: green;
}
.submit:active {
    background-color: red;
    border-color: red;
}
input::placeholder {
    color: white;
}