* {
    margin: 0;
    padding: 0;
}
.main {
    width: 680px;
    height: 340px;
    background: #1bbc9b;
    border: 1px solid #1bbc9b;
}
.title {
    color: white;
    position: absolute;
    left: 40px;
    top: 190px;
    font-family: Arial;
}
.subtitle {
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 40px;
    top: 215px;
    font-family: Arial;
}
form {
    width: 360px;
    height: 250px;
    background: #eeeff1;
    margin: 50px 0 0 215px;
    border-radius: 10px;
}
.text, .password {
    width: 295px;
    height: 40px;
    margin: 25px 0 0 25px;
    border-radius: 10px;
    border: 2px solid #eeeff1;
    font-size: 20px;
    padding-left: 15px;
}
.text {
    background-image: url(icon/usergrey.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
}
.text:focus {
    background-image: url(icon/usergreen.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
}
.password {
    background-image: url(icon/lockgrey.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
}
.password:focus {
    background-image: url(icon/lockgreen.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
}
input:focus {
    outline: none;
}
.text:focus, .password:focus {
    border-color: #1bbc9d;
}
.text::placeholder, .password::placeholder {
    color: #b9bbba;
}
.submit {
    width: 310px;
    height: 40px;
    margin: 25px 0 0 25px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #1bbc9b;
}
.lost {
    margin-top: 15px;
    text-align: center;
}
.lost a {
    text-decoration: none;
    color: #c3ccd1;
}
.angle {
    position: absolute;
    top: 84px;
    left: 195px;
}
.cover {
position: absolute;
width: 115px;
height: 160px;
margin-top: 30px;
margin-left: 40px;
}