* {
    margin: 0;
    padding: 0;
}
.form {
    width: 639px;
    height: 496px;
    background-color: #505050;
    border: 2px solid white;
}
form {
    border: 2px solid white;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 45px;
}
.text {
    color: white;
    text-align: center;
    width: 250px;
    padding: 20px;
    background: #464545;
    margin: auto;
    margin-top: 30px;
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}
.divtext {
    width: 290px;
    margin: auto;
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    margin-top: 30px;
    background: #464545;
}
.divtext div {
    width: 45px;
    height: 45px;
    background: #0799d9;
    border-radius: 100%;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}
.divtext img {
    width: 30px;
    margin-left: 8px;
    margin-top: 5px;
}
.text1, .tel {
    width: 220px;
    height: 50px;
    border: none;
    background: transparent;
    margin-left: 20px;
    color: white;
}
.text1:focus, .tel:focus, .submit:focus {
    outline: none;
}
.submit {
    width: 290px;
    height: 50px;
    background: #0799d9;
    border: none;
    color: white;
    margin-left: 105px;
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}